body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFFFEC;
}

.box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px; 
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}




.info {
    text-align: center;
    padding: 20px;
}

.location {
    margin-top: 10px;
    font-size: 18px;
}

#date {
    color: #555;
}

.temp {
    font-size: 20px;
    margin-top: 10px;
    color: #f39c12;
}
.tempmin_max{
    font-size: 20px;
    margin-top: 10px;
    color: #f39c12;
}
#weathercon {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }

  #weathercon .fas {
    font-size: 6rem;
    animation: fas-anime 3s linear infinite alternate;
  }

  @keyframes fas-anime {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(1.3);
    }
  }